*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
#header{
    padding: 15px;
    background-color: rgba(71,109,147,1);
    color: white;
    grid-column: 1/4;
}

#nav{
    padding: 15px;
    background-color: rgb(94, 137, 180);
    color: white;
    grid-column: 1/4;
}

#main{
    grid-column: 2 / 3;
    padding: 15px;
    background-color: rgb(40, 153, 100);
    color: white;
}

#parrafos{
    grid-column: 2 / 3;
    padding: 10px;
    background-color: rgba(153, 102, 40, 0.781);
    color: rgb(249, 249, 246);
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

hr {
    border: none;
    border-top: 2px dashed rgb(5, 5, 5); /* Línea punteada */
    margin: 10px 0;
  }
  #divididor{
    grid-column: 2 / 3;
    padding: 10px;
    background-color: rgba(175, 113, 82, 0.781);
    color: rgb(249, 249, 246);
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#texto-importante{
    grid-column: 2 / 3;
    padding: 10px;
    background-color: rgba(170, 83, 39, 0.781);
    color: rgb(249, 249, 246);
    border: 2px solid black;
    border-radius: 5px;  
}
#footer{
    grid-column: 1 / 4;
    padding: 15px;
    background-color: rgba(71,109,147,1);
    color: white;
}
